<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="stylecv.css">
		<title>Sign in</title>
	</head>
    <body>

        <label for="avatar">insérez votre fichier:</label>

        <input type="file"
               id="avatar" name="avatar"
               accept="image/png, image/jpeg">

    </body>
</html>