<!DOCTYPE html>
<hmtl>
    <head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="stylecv.css">
		<title>Sign in</title>
	</head>

<body class="d-flex justify-content-center">
    <center><form method="POST" action="formulaire.php" class="border">
    <p>
        <div class="conteneur"  >
        <input type="texte" name="peusdo" id="login" placeholder="mbaye@gmail.com" maxlength="10" required/>  <br/> <br/>


        <input type="password" name="pass" placeholder="mot de passe" id="pass" required/> <br/> <br/>

        <input type="password" name="pass" placeholder=" confirmation mot de passe" id="pass" required/> <br/> <br/>
       

            <button type="submit" value="connecter" class="button" >inscription</button>
        </div>
    </p>
    </form>
</center>
<!-- <nav class="laye">
    <a href="#" class="man"><img src="contact.png" alt="icon_contact" title="Inscription" width="40px" height="40px"/>inscription </a>
  </nav>


<form class="container" style="margin-top: 30vh" method="POST" action="formulaire.php">
    <div class="mb-3">
      <label for="login" class="form-label">Votre login</label>
      <input type="email" class="form-control" style="width: 200px" id="login" placeholder="mbaye@gmail.com" >
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" style="width: 200px" id="exampleInputPassword1" requierd>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">se souvenir de moi</label>
    </div>
    <button type="submit" class="btn btn-primary">connexion</button>
  </form>
-->
    
    </body>

</hmtl>
