{% extends 'base.html.twig' %}

{% block title %}Hello ServeurController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<script type="text/javascript">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="stylecv.css">
</script>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
	<div class="example-wrapper">
    <h1>Connexion</h1>


<form action="/login" method="POST">
  <fieldset>
    <div class="form-group">
      <label for="exampleInputName2">Email</label>
      <input type="Name" class="form-control" id="email" name="email"  placeholder="entrer un mail">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
     </fieldset>
     <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
		
	<div class="form-group row">
		<label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="colFormLabel" placeholder="address mail">
		</div>
	</div>	


	    <div class="col-md-4">France IUT de Roanne - DUT RT</div> 
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11077.790505095234!2d4.0737974!3d46.0421691!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86f6a14095558a58!2sIUT%20de%20Roanne!5e0!3m2!1sfr!2sfr!4v1579097603687!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>	</div>
		<br><br>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  
  <footer id="footer">
	<div class="row">
      <div class ="col-rm-12 align">
        <div class="fff">N'hesitez pas a me contacter : renxianhaofr@126.com>
		</div>  
      </div>
	</div>
  </footer>

{% endblock %}
