{% extends 'base.html.twig' %}

{% block title %}Liste Infos{% endblock %}

{% block body %}
<table class = " table table-hover">
    <thead> 
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">mdp</th>
        </tr>
    <thead>

    <tbody>
        {% for item in listeInfos %}
        <tr class="table-active">
        <th scope="row"> {{ item.id }} </th>
        <td>{{ item.nom }}</td>
        <td>****</td>
        </tr>
        {% endfor %}
    </tbody> 
</table>
    {% endblock %}