
<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="stylecv.css">
		<title>Sign in</title>
	</head>
 
	<body>
	
	<div class="container"><br><br>

		<div class="row">
			<div class="col-md-12" id="section"><h1>Inscription</h1></div>
		</div>
	
		<form enctype="multipart/form-data" method="post" action="index2.html">
			<div>
				<label for="nom">Nom:</label>
				<input id="nom" name="nom" type="text" value="votre nom d'utilisateur" maxlength="6"/>
			</div>
			
			<div>
				<label for="prénom">Prénom:</label>
				<input id="prénom" name="prénom" type="text" value="votre prénom d'utilisateur" maxlength="6"/>
			</div>
			
			<div>
				<label for="pwd">mdp:</label>
				<input id="pwd" name="pwd" type="password" value="1234" maxlength="20"/>
			</div>
			
			<div>
				<label for="sex">Civilité:</label>
				<input id="sex" name="sex" type="radio" value="homme" /> M.
				<input id="sex" name="sex" type="radio" value="femme" checked="true" /> Mme.
			</div>
			
			<div>
				
				<label for="date">date de naissance:</label>
				<input id="date" name="date" type="date" />	
			</div>
		
			<div>
				
				<label for="date">date:</label>
				<select id="year" name="year">
					<option>1998</option>
					<option>1999</option>
					<option>2000</option>
					<option>2001</option>
					<option>2002</option>
				</select>
				
				<label for="date">plus:</label>
				<select id="year" name="year">
					<option>moins de 1998</option>
					<option selected="true">2021</option>
				</select>
				
			</div>
			
			<div>
				
				<input id="submit" name="submit" type="submit" />
				<input id="reset" name="reset" type="reset" />
				
			</div>
			
		</form>
	</body>
 
</html>